<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8"/>
        <title>Demon Compendium Delete All Complete</title>
    </head>
    <body>
        <h1>Delete complete!</h1>
        <p>
            Deleted <%= data %> demons.
        </p>
        <p>
            <a href="/compendium">Return to list</a>
        </p>
    </body>
</html>
