<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8"/>
        <title>Login to Demon Compendium</title>
        <link rel="stylesheet" type="text/css" href="/public/smdg-db.css" />
        <script type="text/javascript">
            async function login(e) {
                e.preventDefault();
                try {
                    data = {
                        "userName": document.getElementById("userName").value,
                        "password": document.getElementById("password").value
                    };
                    var response = await fetch("/api/login", {
                        method: "post",
                        headers: {
                            "Content-Type": "application/json"
                        },
                        body: JSON.stringify(data)
                    });
                    if (response.ok) {
                        var data = await response.json();
                        console.log(data);
                        document.getElementById("token").value = data["token"];
                        document.getElementById("tokenForm").submit();
                    }
                } catch (err) {
                    console.log("error: " + err);
                }
            }

            function addListeners() {
                document.getElementById("login").addEventListener("click", (e) => { login(e); });
            }

            window.onload = addListeners;
        </script>
    </head>
    <body>
        <div>
            <label for="userName">Display Name:</label>&nbsp;<input id="userName" />
        </div>
        <div>
            <label for="password">Display Name:</label>&nbsp;<input id="password" type="password" />
        </div>
        <div>
            <a id="login" href="/compendium">Login</a>&nbsp;<a id="cancel" href="/compendium">Cancel</a>
        </div>
        <form id="tokenForm" method="post" action="/compendium" hidden>
            <input id="token" name="token"/>
            <input name="submitButton" type="submit"/>
        </form>
    </body>
</html>
