<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8"/>
        <title>Demon Compendium Upload Complete</title>
    </head>
    <body>
        <h1>Upload complete!</h1>
        <p>
            Imported <%= data %> demons.
        </p>
        <p>
            <a href="/compendium">Return to list</a>
        </p>
    </body>
</html>
